/configure*
/Makefile*
/parity.ncb
/parity.repo
/Release
/Debug
/Managed Release
/Managed Debug
/config.h.in
/autom4te.*
/acinclude.m4
/aclocal.m4
/confix-admin
/parity.suo
CMakeLists.txt
Makefile.am
Makefile.in
Makefile
.deps
config.h
config.log
config.status
*.swp
*.swo
__parity.*
parity.conf
stamp-h1
*.o
*.a

