/configure*
/Makefile*
/parity.ncb
/parity.repo
/Release
/Debug
/Managed Release
/Managed Debug
/config.h.in
/autom4te.*
/acinclude.m4
/aclocal.m4
/confix-admin
/parity.suo
CMakeLists.txt
Makefile.am
Makefile.in
Makefile
.deps
config.h
config.log
config.status
*.swp
*.swo
__parity.*
parity-config
stamp-h1
*.o
*.a
*.exe
*.exe.mf
*.pdb

parity.configurator/parity.configurator
parity.gnu.ar/parity.gnu.ar
parity.gnu.gcc/parity.gnu.gcc
parity.gnu.ld/parity.gnu.ld
parity.gnu.nm/parity.gnu.dumpbin
parity.inspector/parity.inspector
parity.ms.cl/parity.ms.cl
parity.ms.link/parity.ms.lib
parity.ms.link/parity.ms.link
parity.ms.link/parity.ms.nmake
parity.ms.link/parity.ms.rc
parity.setup/parity-environment.sh
parity.setup/parity-setup
parity.statistics/parity.statistics
parity.test/parity.test
